@media (max-width: 577px) {
    .more {
        padding-top: 50px;
        // .more__items
        &__items {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
        }
        // .more__item
        &__item {
            max-width: 340px;
        }
        // .more__title
        &__title {
            text-align: center;
            font-size: 50px;
            font-weight: 200;
        }
        // .more__text
        &__text {
            text-align: center;
            margin-top: 20px;
            font-size: 20px;
            font-weight: 300;
        }
    }
    
}