@media (max-width: 577px) {
    .types {
        padding-top: 40px;
        padding-bottom: 0;
        // .conditions_title
        &_title {
            font-size: 25px;
            font-weight: 200;
        }
        // .conditions__items
        &__items {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
        // .conditions__item
        &__item {
            width: 300px;
        }
        // .conditions__text
        &__text {
            margin-top: 5px;
            font-size: 14px;
            font-weight: 300;
        }
    }
    
    
}