@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
    .accordion {
        // .accordion__items
        &__items {
            width: 540px;
        }
    }
}

@media (max-width: 577px) {
    .accordion {
        padding: 50px 0;    
        // .accordion__items
        &__items {
            width: 340px;
        }
    
        &__heading {
            padding: 15px;
            font-size: 20px;
            width: 300px;
            &:after {
                position: absolute;
                content: '\002B';
                color: #777;
                font-weight: bold;
                top: 50%;
                transform: translateY(-50%);
                right: -25px;
                // float: right;
                // margin-left: 5px;
            }
        }
    
        .panel {
            font-size: 14px;
        }
    }
}