@media (max-width: 1200px) {
    .line3 {
        // .line3__line
        &__line {
            display: none;
            &-m {
                display: none;
                // margin: 0 auto;
            }
        }
    }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 577px) {
    .line3 {
        // .line3__line
        &__line {
            display: none;
            &-m {
                display: block;
                // margin: 0 auto;
            }
        }
    }
    
}
