@media (max-width: 577px) {
    .way {
        // .way__title
        &__title {
            font-size: 40px;
            width: 350px;
        }
        // .way__items
        &__items {
            margin-top: 40px;
            display: grid;
            justify-content: center;
            gap: 20px;
        }
        // .way__item
        &__item {
            display: grid;
            grid-template-columns: 44px 310px;
            justify-content: center;
            gap: 15px;
        }
        // .way__subtitle
        &__subtitle {
            max-width: 360px;
            font-size: 20px;
            font-weight: 300;
            letter-spacing: -0.05em;
        }
        // .way__text
        &__text {
            max-width: 350px;
            margin-top: 10px;
            font-size: 14px;
            
        }
    
        &__imgs {
            position: relative;
        }
        // .way__line
        &__line {
            margin-top: 30px;
            display: none;
        }
        // .way__line-m
        &__line-m {
            display: block;
            margin: 0 auto;
        }
        // .way__palm
        &__palm {
            width: 70px;
            position: absolute;
            bottom: 0;
            right: 50%;
            transform: translateX(-150%);
        }
        // .way__img
        &__img {
            margin-top: 40px;
            grid-template-columns: 340px;
            justify-content: center;
            &-1 {
                display: block;
                width: 340px;
                margin: 0 auto;
            }
            &-2 {
                display: none;
            }
        }

    
        // .way__imgs
        &__imgs {
        }
        // .way__line2
        &__line2 {
            display: none;
        }
        // .way__line2-m
        &__line2-m {
            display: block;
            margin: 0 auto;
            margin-top: 50px;
        }
        // .way__logo
        &__logo {
            width: 90px;
            position: absolute;
            bottom: 0;
            right: 43%;
        }
    
    }
    
    
}