@media (max-width: 577px) {
    .support {
        display: flex;
        background-color: #f2f2f2;
        // .support_title
        &_title {
            font-size: 25px;
        }
        // .support__atom
        &__atom {
            max-width: 62px;
            margin-bottom: 20px;
        }
        // .support__items
        &__items {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        // .support__item
        &__item {
            width: 347px;
        }
        // .support__text
        &__text {
            font-size: 14px;
            font-weight: 300;
            margin-top: 10px;
        }
        // .support__line
        &__line {
            display: none;
            &-m {
                margin-top: 20px;
                display: block;
            }
        }
        &__img {
            width: 300px;
        }
        &__line2 {
            display: none;
            &-m {
                display: block;
                margin-top: 40px;
            }
        }
    }
}