@media (max-width: 577px) {
    .about {
        padding-bottom: 20px;
        &__text {
            font-size:18px;
        }
        // .about__descr
        &__descr {
            font-size: 18px;
        }
    }
}