@media (max-width: 1200px) {
    .profitable__line {
        transform: translateX(-35%);
    }
    .profitable__palm {
        display: none;
    }
}

@media (max-width: 992px) {
    .profitable {
        min-height: 220px;
    }
    .profitable__line, .profitable__palm {
        display: none;
    }
    
    .profitable__text {
        padding-top: 40px;
        float: none;
        margin: 0 auto;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .profitable__line-m {
        display: block;
    }
}


@media (max-width: 577px) {
    .profitable {
        min-height: 440px;
        // .profitable__line
        &__line {
            display: none;
            &-m {
                display: block;
                position: absolute;
                top: -11px;
                left: 50%;
                transform: translateX(-50%);
            }
    
        }
        // .profitable__palm
        &__palm {
            display: none;
        }
        // .profitable__text
        &__text {
            display: block;
            margin: 0 auto;
            padding-top: 300px;
            // margin-right: 0px;
            width: 310px;
            font-size: 14px;
            font-weight: 300;
            line-height: 18px;
            float: none;
        }
    }
 
    .peace {
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 180px;
    }
}