@media (max-width: 577px) {
    .footer {
        display: flex;
        // .contacts__wrapper
        &__wrapper {
            flex-direction: column;
            align-items: start;
            gap: 20px;
        }

        // .contacts__address
        &__address {
            margin-top: 10px;
        }
    }
    
    
}