.conditions {
    background-color: #f2f2f2;
    padding-top: 80px;
    // .conditions_title
    &_title {
        font-size: 50px;
        font-weight: 200;
    }
    // .conditions__items
    &__items {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }
    // .conditions__item
    &__item {
        // width: 347px;
    }
    // .conditions__text
    &__text {
        margin-top: 5px;
        font-size: 20px;
        font-weight: 300;
    }
    &__img {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 760px 360px;
        justify-content: space-between;
        // img {
        //     max-width: 690px;
        //     max-height: 490px;
        // }
        // &-1 {
        //     width: 100%;
        //     height: 100%;
        //     margin-right: 40px;
        // }
        // &-2 {
        //     height: 100%;
        // }
    }
}

