.footer {
    background-color: #000;
    padding: 50px 0;
    // .contacts__subtitle
    &__title {
        font-size: 34px;
        color: #fff;
        font-weight: 300;
    }
    &__subtitle {
        margin-top: 15px;
        color: #fff;
        font-size: 17px;
        font-weight: 300;
    }
    // .contacts__wrapper
    &__wrapper {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    // .contacts__descr
    &__descr {
        color: #fff;
        font-size: 14px;
        font-weight: 300;
    }
    &__numbers {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__phone_img {
        margin-top: 10px;
    }
    // .contacts__address
    &__address {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        img {
            width: 25px;
        }
        &-2 {
            margin-top: 5px;
        }
    }
}

