.more {
    background-color: #f2f2f2;
    // .more__items
    &__items {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
    }
    // .more__item
    &__item {
        max-width: 340px;
    }
    // .more__title
    &__title {
        font-size: 90px;
        font-weight: 200;
    }
    // .more__text
    &__text {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 300;
    }
}
