.promo {
    position: relative;
    padding-top: 115px;
    padding-bottom: 10px;
    display: flex;    
    background: #f2f2f2;
    // .promo__logo
    &__logo {
        display: block;
        width: 72px;
        margin: 0 auto;
    }
    // .promo__text
    &__text {
        margin-top: 30px;
        text-align: center;
        line-height: 23px;
    }
    &__line {
        position: absolute;
        top: -70px;
        // left: 372px;
        left: 50%;
        transform: translateX(-110%);
        z-index: 1;
        &-m {
            display: none;
        }
    }
}



