.support {
    background-color: #f2f2f2;
    // .support_title
    &_title {
        font-size: 35px;
        font-weight: 300;
    }
    // .support__atom
    &__atom {
        max-width: 102px;
        margin-bottom: 50px;
    }
    // .support__items
    &__items {
        margin-top: 30px;
        display: flex;
        gap: 50px;
    }
    // .support__item
    &__item {
        width: 347px;
    }
    // .support__text
    &__text {
        font-size: 20px;
        font-weight: 300;
        margin-top: 10px;
    }
    // .support__line
    &__line {
        &-m {
            display: none;
        }
    }
    &__img {
        display: block;
        margin: 0 auto;
        margin-top: 40px;
    }
    &__line2 {
        margin-top: 50px;
        margin-left: 390px;
        &-m {
            display: none;
        }
    }
}