.types {
    background-color: #f2f2f2;
    padding: 80px 0;
    // .conditions_title
    &_title {
        font-size: 38px;
        font-weight: 300;
    }
    // .conditions__items
    &__items {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }
    // .conditions__item
    &__item {
        // width: 347px;
    }
    // .conditions__text
    &__text {
        margin-top: 5px;
        font-size: 20px;
        font-weight: 300;
    }
}

