.way {
    padding-top: 50px;
    background-color: #F2F2F2;
    // .way__title
    &__title {
        font-size: 85px;
        font-weight: 200;
        max-width: 733px;
        
    }
    // .way__items
    &__items {
        margin-top: 60px;
        display: grid;
        justify-content: center;
        gap: 50px;
    }
    // .way__item
    &__item {
        display: flex;
        gap: 40px;
    }
    // .way__subtitle
    &__subtitle {
        max-width: 733px;
        font-size: 40px;
        font-weight: 300;
        letter-spacing: -0.05em;
    }
    // .way__text
    &__text {
        max-width: 394px;
        margin-top: 10px;
        font-size: 20px;
        font-weight: 300;
        &-link {
            color: blue;
        }
    }
    &__number {
        width: 44px;
        height: 42px;
        background-image: url('@img/icon/circle.svg');
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__imgs {
        position: relative;
    }
    // .way__line
    &__line {
        margin-top: 30px;
    }
    // .way__line-m
    &__line-m {
        display: none;
    }
    // .way__palm
    &__palm {
        width: 110px;
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(-150%);
    }
    // .way__img
    &__img {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 760px 360px;
        justify-content: space-between;
    }
    // .way__img-1
    &__img-1 {
    }
    // .way__img-2
    &__img-2 {
    }

    // .way__imgs
    &__imgs {
    }
    // .way__line2
    &__line2 {
        display: block;
        margin: 0 auto;
        margin-top: 50px;
    }
    // .way__line2-m
    &__line2-m {
        display: none;
    }
    // .way__logo
    &__logo {
        width: 200px;
        position: absolute;
        bottom: 0;
        right: 43%;
    }

}

