@font-face{
	font-family: 'Inter';
	font-display: swap;
	src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family: 'Inter';
	font-display: swap;
	src: url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: 'Inter';
	font-display: swap;
	src: url("../fonts/Inter-ExtraLight.woff2") format("woff2"), url("../fonts/Inter-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
