@import 'fonts';
@import 'animate';

* {
    font-family: 'Inter';
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    caret-color: transparent;
}

.container {
    max-width: 1140px;
    margin: 0 auto;

    @media (max-width: 1200px) {
        padding: 0 20px;
    }

    @media (max-width: 992px) {
        padding: 0 20px;

    }



    @media (max-width: 768px) {
        padding: 0 20px;

    }

    @media (max-width: 577px) {
        padding: 0 20px;
    }
}

.title {
    margin-top: 23px;
    font-size: 90px;
    font-weight: 200;
    text-align: center;
    letter-spacing: -0.05em;
    line-height: 103px;

    @media (max-width: 577px) {
        margin-top: 25px;
        font-size: 48px;
        line-height: 50px;
    }

    @media (max-width: 768px) {
        font-size: 64px;
        line-height: 78px;
    }
}

.subtitle {
    font-size: 38px;
    font-weight: 300;

    @media (max-width: 577px) {
        font-size: 25px;
        text-align: center;
    }

    &_support {
        @media (max-width: 577px) {
            text-align: left;
        }

        @media (max-width: 992px) {
            text-align: center;
        }
    }

    &-more {
        text-align: center;
    }
}

.btn {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 267px;
    height: 72px;
    background-color: #1e5bff;
    border-radius: 10px;

    font-size: 16px;
    color: #fefefe;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background-color: #234cbe;
    }

    &-form {
        margin-left: 0;
        margin-top: 20px;
    }

    &-link {
        position: relative;
        z-index: 2;
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        padding: 25px 55px;
        width: 267px;
        height: 72px;
        background-color: #1e5bff;
        border-radius: 10px;
        cursor: pointer;

        font-size: 16px;
        color: #fefefe;
        text-transform: uppercase;

        &:hover {
            background-color: #234cbe;
            transition: all 0.3s;
        }

        @media (max-width: 577px) {
            margin-bottom: 30px;
            width: 200px;
            height: 47px;
            padding: 16px 48px;
            font-size: 10px;
        }
    }

    @media (max-width: 577px) {
        width: 200px;
        height: 47px;

        font-size: 10px;
    }
}



@import 'header';
@import 'promo';
@import 'profitable';
@import 'line3';
@import 'conditions';
@import 'plan';
@import 'support';
@import 'way';
@import 'forms';
@import 'more';
@import 'accordion';
@import 'footer';
@import 'whatsapp';
@import 'about';
@import 'types';



@import 'media/mediaHeader';
@import 'media/mediaPromo';
@import 'media/mediaProfitable';
@import 'media/mediaLine3';
@import 'media/mediaConditions';
@import 'media/mediaPlan';
@import 'media/mediaSupport';
@import 'media/mediaWay';
@import 'media/mediaForms';
@import 'media/mediaMore';
@import 'media/mediaAccordion';
@import 'media/mediaFooter';
@import 'media/mediaWhatsapp';
@import 'media/mediaAbout';
@import 'media/mediaTypes';